openapi: 3.2.0
info:
  title: Loyalty Reward API
  version: 1.0.0
servers:
- url: https://api.brevo.com/v3
  description: https://api.brevo.com/v3
tags:
- name: reward
paths:
  /loyalty/offer/programs/{pid}/code-pools/{cpid}/codes-count:
    get:
      operationId: getCodeCount
      summary: Get code count
      description: Get code count
      tags:
      - reward
      parameters:
      - name: pid
        in: path
        description: Loyalty Program ID
        required: true
        schema:
          type: string
          format: uuid
      - name: cpid
        in: path
        description: Code Pool ID
        required: true
        schema:
          type: string
          format: uuid
      - name: api-key
        in: header
        description: The API key should be passed in the request headers as `api-key` for authentication.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Code count successfully fetched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reward_getCodeCount_Response_200'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '401':
          description: Request Authentication Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '403':
          description: Cannot Authenticate Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '422':
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '500':
          description: Internal error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
  /loyalty/offer/programs/{pid}/vouchers:
    get:
      operationId: getVoucherForAContact
      summary: Get voucher for a contact
      description: Get voucher for a contact
      tags:
      - reward
      parameters:
      - name: pid
        in: path
        description: Loyalty Program ID
        required: true
        schema:
          type: string
          format: uuid
      - name: limit
        in: query
        description: Page size
        required: false
        schema:
          type: integer
          default: 25
      - name: offset
        in: query
        description: Pagination offset
        required: false
        schema:
          type: integer
          default: 0
      - name: sort
        in: query
        description: Sort order
        required: false
        schema:
          $ref: '#/components/schemas/LoyaltyOfferProgramsPidVouchersGetParametersSort'
          default: desc
      - name: sortField
        in: query
        description: Sort field
        required: false
        schema:
          $ref: '#/components/schemas/LoyaltyOfferProgramsPidVouchersGetParametersSortField'
          default: updatedAt
      - name: contactId
        in: query
        description: Contact ID
        required: true
        schema:
          type: integer
      - name: metadata_key_value
        in: query
        description: Metadata value for a Key filter
        required: false
        schema:
          type: string
      - name: rewardId
        in: query
        description: Reward ID
        required: false
        schema:
          type: string
      - name: api-key
        in: header
        description: The API key should be passed in the request headers as `api-key` for authentication.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Voucher list successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reward_getVoucherForAContact_Response_200'
        '401':
          description: Request Authentication Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '403':
          description: Cannot Authenticate Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '422':
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '500':
          description: Internal error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
  /loyalty/offer/programs/{pid}/offers:
    get:
      operationId: getRewardPageApi
      summary: Get Reward Page API
      description: Returns a reward page
      tags:
      - reward
      parameters:
      - name: pid
        in: path
        description: Loyalty Program ID
        required: true
        schema:
          type: string
          format: uuid
      - name: limit
        in: query
        description: Page size
        required: false
        schema:
          type: integer
          default: 25
      - name: offset
        in: query
        description: Pagination offset
        required: false
        schema:
          type: integer
          default: 0
      - name: state
        in: query
        description: State of the reward
        required: false
        schema:
          type: string
          default: all
      - name: version
        in: query
        description: Version
        required: false
        schema:
          $ref: '#/components/schemas/LoyaltyOfferProgramsPidOffersGetParametersVersion'
          default: draft
      - name: api-key
        in: header
        description: The API key should be passed in the request headers as `api-key` for authentication.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Reward list successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reward_getRewardPageApi_Response_200'
        '401':
          description: Request Authentication Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '403':
          description: Cannot Authenticate Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '422':
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '424':
          description: Failed Dependency
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '500':
          description: Internal error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
    post:
      operationId: createReward
      summary: Create a reward
      description: Creates a new reward in the loyalty program.
      tags:
      - reward
      parameters:
      - name: pid
        in: path
        description: Loyalty Program ID
        required: true
        schema:
          type: string
          format: uuid
      - name: api-key
        in: header
        description: The API key should be passed in the request headers as `api-key` for authentication.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Reward successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reward_createReward_Response_200'
        '401':
          description: Request Authentication Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '403':
          description: Cannot Authenticate Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '422':
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '500':
          description: Internal error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Internal name of the reward
                publicDescription:
                  type: string
                  description: Public facing description of the reward
                publicImage:
                  type: string
                  format: uri
                  description: URL of the public image for the reward
                publicName:
                  type: string
                  description: Public facing name of the reward
              required:
              - name
  /loyalty/offer/programs/{pid}/rewards/{rid}:
    get:
      operationId: getRewardInformation
      summary: Get reward information
      description: Returns reward information.
      tags:
      - reward
      parameters:
      - name: pid
        in: path
        description: Loyalty Program ID
        required: true
        schema:
          type: string
          format: uuid
      - name: rid
        in: path
        description: Reward ID
        required: true
        schema:
          type: string
          format: uuid
      - name: version
        in: query
        description: Version
        required: false
        schema:
          $ref: '#/components/schemas/LoyaltyOfferProgramsPidRewardsRidGetParametersVersion'
          default: draft
      - name: api-key
        in: header
        description: The API key should be passed in the request headers as `api-key` for authentication.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of reward data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reward_getRewardInformation_Response_200'
        '401':
          description: Request Authentication Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '403':
          description: Cannot Authenticate Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '422':
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '424':
          description: Failed Dependency
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '500':
          description: Internal error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
  /loyalty/offer/programs/{pid}/rewards/attribute:
    post:
      operationId: createVoucher
      summary: Create a voucher
      description: Create a voucher and attribute it to a specific membership.
      tags:
      - reward
      parameters:
      - name: pid
        in: path
        description: Loyalty Program ID
        required: true
        schema:
          type: string
          format: uuid
      - name: api-key
        in: header
        description: The API key should be passed in the request headers as `api-key` for authentication.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Voucher successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reward_createVoucher_Response_200'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: string
        '401':
          description: Request Authentication Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '403':
          description: Cannot Authenticate Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '422':
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '500':
          description: Internal error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  description: Code generated to attribute reward to a contact
                contactId:
                  type: integer
                  format: int64
                  description: Contact to attribute the reward
                expirationDate:
                  type: string
                  description: Reward expiration date
                loyaltySubscriptionId:
                  type: string
                  description: One of contactId or loyaltySubscriptionId is required
                meta:
                  type: object
                  additionalProperties:
                    description: Any type
                  description: Offer meta information (key/value object)
                rewardId:
                  type: string
                  format: uuid
                  description: Reward id
                value:
                  type: number
                  format: double
                  description: Value of the selected reward config
                validFrom:
                  type: string
                  description: Date from which the voucher becomes valid. Accepts RFC 3339 or DD/MM/YYYY HH:MM AM/PM format. Converted to UTC using the organization's timezone.
              required:
              - rewardId
  /loyalty/offer/programs/{pid}/rewards/redeem:
    post:
      operationId: redeemVoucher
      summary: Create redeem voucher request
      description: Creates a request to redeem a voucher.
      tags:
      - reward
      parameters:
      - name: pid
        in: path
        description: Loyalty Program ID
        required: true
        schema:
          type: string
          format: uuid
      - name: api-key
        in: header
        description: The API key should be passed in the request headers as `api-key` for authentication.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Redeem request successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/redeem'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '401':
          description: Request Authentication Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '403':
          description: Cannot Authenticate Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '412':
          description: Precondition Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '417':
          description: Expectation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '422':
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '500':
          description: Internal error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                attributedRewardId:
                  type: string
                  format: uuid
                  description: Unique identifier for the attributed reward
                code:
                  type: string
                  description: Redemption code for the reward
                contactId:
                  type: integer
                  format: int64
                  description: Unique identifier for the contact
                loyaltySubscriptionId:
                  type: string
                  description: Identifier for the loyalty subscription
                meta:
                  type: object
                  additionalProperties:
                    description: Any type
                  description: Additional metadata associated with the redeem request
                order:
                  $ref: '#/components/schemas/LoyaltyOfferProgramsPidRewardsRedeemPostRequestBodyContentApplicationJsonSchemaOrder'
                  description: Order details for the redemption
                rewardId:
                  type: string
                  format: uuid
                  description: Unique identifier for the reward
                ttl:
                  type: integer
                  description: Time to live in seconds for the redemption request
                autoComplete:
                  type: boolean
                  description: Whether the redemption should be automatically completed
  /loyalty/offer/programs/{pid}/rewards/redeem/{tid}/complete:
    post:
      operationId: completeRedeemTransaction
      summary: Complete redeem voucher request
      description: Completes voucher redeem request.
      tags:
      - reward
      parameters:
      - name: pid
        in: path
        description: Loyalty Program ID
        required: true
        schema:
          type: string
          format: uuid
      - name: tid
        in: path
        description: Redeem transaction ID
        required: true
        schema:
          type: string
      - name: api-key
        in: header
        description: The API key should be passed in the request headers as `api-key` for authentication.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Voucher Redeem completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/redeem'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '401':
          description: Request Authentication Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '403':
          description: Cannot Authenticate Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '412':
          description: Precondition Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '417':
          description: Expectation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '422':
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '500':
          description: Internal error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
  /loyalty/offer/programs/{pid}/rewards/revoke:
    delete:
      operationId: revokeVouchers
      summary: Revoke vouchers
      description: Revoke attributed vouchers.
      tags:
      - reward
      parameters:
      - name: pid
        in: path
        description: Loyalty Program ID
        required: true
        schema:
          type: string
          format: uuid
      - name: attributedRewardIds
        in: query
        description: Reward Attribution IDs (comma seperated)
        required: false
        schema:
          type: string
      - name: api-key
        in: header
        description: The API key should be passed in the request headers as `api-key` for authentication.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful revocation of voucher
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '500':
          description: Internal error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
  /loyalty/offer/programs/{pid}/rewards/validate:
    post:
      operationId: validateReward
      summary: Validate a reward
      description: Validates a reward.
      tags:
      - reward
      parameters:
      - name: pid
        in: path
        description: Loyalty Program ID
        required: true
        schema:
          type: string
          format: uuid
      - name: api-key
        in: header
        description: The API key should be passed in the request headers as `api-key` for authentication.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Reward successfully validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reward_validateReward_Response_200'
        '401':
          description: Request Authentication Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '403':
          description: Cannot Authenticate Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '422':
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '424':
          description: Failed Dependency
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        '500':
          description: Internal error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                attributedRewardId:
                  type: string
                  format: uuid
                  description: Unique identifier for the attributed reward
                code:
                  type: string
                  description: Validation code for the reward
                contactId:
                  type: integer
                  format: int64
                  description: Unique identifier for the contact
                loyaltySubscriptionId:
                  type: string
                  description: Identifier for the loyalty subscription
                pointOfSellId:
                  type: string
                  description: Identifier for the point of sale
                rewardId:
                  type: string
                  format: uuid
                  description: Unique identifier for the reward
components:
  schemas:
    LoyaltyOfferProgramsPidRewardsRedeemPostRequestBodyContentApplicationJsonSchemaOrder:
      type: object
      properties:
        amount:
          type: number
          format: double
          description: Total amount of the order
        billing:
          $ref: '#/components/schemas/LoyaltyOfferProgramsPidRewardsRedeemPostRequestBodyContentApplicationJsonSchemaOrderBilling'
          description: Billing information for the order
        contact_id:
          type: integer
          format: int64
          description: Unique identifier for the contact
        coupons:
          type: array
          items:
            type: string
          description: List of coupon codes applied to the order
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the order was created
        email:
          type: string
          format: email
          description: Email address associated with the order
        id:
          type: string
          description: Unique identifier for the order
        identifiers:
          $ref: '#/components/schemas/LoyaltyOfferProgramsPidRewardsRedeemPostRequestBodyContentApplicationJsonSchemaOrderIdentifiers'
          description: Additional identifiers for the order
        products:
          type: array
          items:
            $ref: '#/components/schemas/LoyaltyOfferProgramsPidRewardsRedeemPostRequestBodyContentApplicationJsonSchemaOrderProductsItems'
          description: List of products in the order
        status:
          type: string
          description: Current status of the order
        storeId:
          type: string
          description: Identifier for the store where the order was placed
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the order was last updated
      description: Order details for the redemption
      title: LoyaltyOfferProgramsPidRewardsRedeemPostRequestBodyContentApplicationJsonSchemaOrder
    Reward_getCodeCount_Response_200:
      type: object
      properties:
        count:
          type: integer
          format: int64
          description: Number of codes
      title: Reward_getCodeCount_Response_200
    LoyaltyOfferProgramsPidRewardsRidGetResponsesContentApplicationJsonSchemaRewardConfigs:
      type: object
      properties:
        attribution:
          type: string
          description: Attribution config of the reward
        code:
          type: string
          description: Code config of the reward
        value:
          type: string
          description: Value config of the reward
      description: object
      title: LoyaltyOfferProgramsPidRewardsRidGetResponsesContentApplicationJsonSchemaRewardConfigs
    ruleConditionResponse:
      type: object
      properties:
        and:
          type: array
          items:
            $ref: '#/components/schemas/ruleConditionResponse'
          description: Metric to indicate AND between rules
        lhs:
          $ref: '#/components/schemas/valueResponse'
          description: Condition of the rule
        op:
          type: string
          description: Selected operator for the rule
        or:
          type: array
          items:
            $ref: '#/components/schemas/ruleConditionResponse'
          description: Metric to indicate OR between rules
        rhs:
          $ref: '#/components/schemas/valueResponse'
          description: Action of the rule
      title: ruleConditionResponse
    LoyaltyOfferProgramsPidRewardsRidGetResponsesContentApplicationJsonSchemaRuleResultsItemsParametersItems:
      type: object
      properties:
        name:
          type: string
          description: Name of the rule
        value:
          $ref: '#/components/schemas/valueResponse'
          description: Selected value of the parameter to define the rule
      title: LoyaltyOfferProgramsPidRewardsRidGetResponsesContentApplicationJsonSchemaRuleResultsItemsParametersItems
    LoyaltyOfferProgramsPidOffersGetParametersVersion:
      type: string
      enum:
      - active
      - draft
      default: draft
      title: LoyaltyOfferProgramsPidOffersGetParametersVersion
    Reward_getVoucherForAContact_Response_200:
      type: object
      properties:
        contactId:
          type: integer
          format: int64
          description: Contact id associated with the current reward
        contactRewards:
          type: array
          items:
            $ref: '#/components/schemas/LoyaltyOfferProgramsPidVouchersGetResponsesContentApplicationJsonSchemaContactRewardsItems'
          description: List of all the rewards for current contact
        count:
          type: integer
          description: Count of the rewards associated with the current contact
        loyaltyProgramId:
          type: string
          description: Loyalty Program Id for the contact
        loyaltySubscriptionId:
          type: string
          description: Loyalty Subscription Id for the contact
      title: Reward_getVoucherForAContact_Response_200
    Reward_createReward_Response_200:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the reward
        loyaltyProgramId:
          type: string
          format: uuid
          description: Loyalty program to which the reward belongs
        name:
          type: string
          description: Name of the reward
        publicDescription:
          type: string
          description: Public description of the reward
        publicImage:
          type: string
          description: Public image URL of the reward
        publicName:
          type: string
          description: Public name of the reward
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the reward was created
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the reward was last updated
      title: Reward_createReward_Response_200
    LoyaltyOfferProgramsPidVouchersGetParametersSortField:
      type: string
      enum:
      - updatedAt
      - createdAt
      default: updatedAt
      title: LoyaltyOfferProgramsPidVouchersGetParametersSortField
    LoyaltyOfferProgramsPidRewardsRidGetParametersVersion:
      type: string
      enum:
      - active
      - draft
      default: draft
      title: LoyaltyOfferProgramsPidRewardsRidGetParametersVersion
    LoyaltyOfferProgramsPidOffersGetResponsesContentApplicationJsonSchemaItemsItems:
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
          description: Timestamp for when this reward was created
        endDate:
          type: string
          format: date-time
          description: Timestamp for when this reward attribution ended
        id:
          type: string
          format: uuid
          description: Unique identifier for the reward
        loyaltyProgramId:
          type: string
          format: uuid
          description: Loyalty Program to which current reward is associated
        name:
          type: string
          description: Name of the reward
        publicImage:
          type: string
          description: Public image of the reward
        startDate:
          type: string
          format: date-time
          description: Timestamp for when this reward attribution started
        state:
          type: string
          description: State of the reward
        updatedAt:
          type: string
          format: date-time
          description: Timestamp for when this reward attribution was updated
      title: LoyaltyOfferProgramsPidOffersGetResponsesContentApplicationJsonSchemaItemsItems
    Reward_createVoucher_Response_200:
      type: object
      properties:
        code:
          type: string
          description: Generated code
        consumedAt:
          type: string
          description: Timestamp for when this reward was consumed
        contactId:
          type: integer
          format: int64
          description: Id of the contact that attributed the reward
        createdAt:
          type: string
          format: date-time
          description: Timestamp for when this reward was created
        expirationDate:
          type: string
          format: date-time
          description: Expiration date of the reward
        id:
          type: string
          format: uuid
          description: Unique identifier
        loyaltyProgramId:
          type: string
          description: Loyalty Program Id to which attributed reward belongs
        meta:
          type: object
          additionalProperties:
            description: Any type
          description: Additional data to define the reward
        rewardId:
          type: string
          description: Unique identifier for the reward
        updatedAt:
          type: string
          format: date-time
          description: Timestamp for when this reward was updated
        value:
          type: number
          format: double
          description: Value of the selected reward config
        validFrom:
          type: string
          format: date-time
          description: Date from which the voucher becomes valid
      title: Reward_createVoucher_Response_200
    valueResponse:
      type: object
      properties:
        array:
          type: array
          items:
            $ref: '#/components/schemas/valueResponse'
          description: Array values to define the rule
        boolean:
          type: boolean
          description: Boolean values for rule definition
        contactProperty:
          type: string
          description: string
        date:
          type: string
          description: Selected date for rule definition
        eventProperty:
          type: string
          description: Selected event property for rule definition
        expression:
          $ref: '#/components/schemas/nodeResponse'
          description: Created expression for rule definition
        number:
          type: number
          format: double
          description: Boolean values for rule definition
        string:
          type: string
          description: String values for rule definition
      title: valueResponse
    LoyaltyOfferProgramsPidRewardsRedeemPostRequestBodyContentApplicationJsonSchemaOrderProductsItems:
      type: object
      properties:
        category:
          type: array
          items:
            type: string
          description: List of categories the product belongs to
        price:
          type: number
          format: double
          description: Price of the product
        productId:
          type: string
          description: Unique identifier for the product
        quantity:
          type: number
          format: double
          description: Quantity of the product
        variantId:
          type: string
          description: Identifier for the product variant
      title: LoyaltyOfferProgramsPidRewardsRedeemPostRequestBodyContentApplicationJsonSchemaOrderProductsItems
    LoyaltyOfferProgramsPidRewardsRidGetResponsesContentApplicationJsonSchemaGenerator:
      type: object
      properties:
        createdAt:
          type: string
          description: Timestamp when the reward was created
        description:
          type: string
          description: Public facing description of the reward
        id:
          type: string
          format: uuid
          description: Unique identifier for the reward
        name:
          type: string
          description: Name of the reward
        pattern:
          type: string
          description: Generated pattern
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the reward was created
      description: object
      title: LoyaltyOfferProgramsPidRewardsRidGetResponsesContentApplicationJsonSchemaGenerator
    LoyaltyOfferProgramsPidRewardsRidGetResponsesContentApplicationJsonSchemaProductsItems:
      type: object
      properties:
        createdAt:
          type: string
          description: Timestamp when the product was created
        imageRef:
          type: string
          description: URL of the product image
        productId:
          type: string
          description: Unique identifier for the product
        value:
          type: string
          description: string
      title: LoyaltyOfferProgramsPidRewardsRidGetResponsesContentApplicationJsonSchemaProductsItems
    LoyaltyOfferProgramsPidRewardsRidGetResponsesContentApplicationJsonSchemaExpirationModifier:
      type: string
      enum:
      - startOfPeriod
      - endOfPeriod
      - noModification
      default: noModification
      description: Select startOfPeriod to configure rewards expiry on start of day/week/month/year. Select endOfPeriod to configure reward expiry on end of day/week/month/year, else select noModification
      title: LoyaltyOfferProgramsPidRewardsRidGetResponsesContentApplicationJsonSchemaExpirationModifier
    redeem:
      type: object
      properties:
        cancelledAt:
          type: string
          format: date-time
          description: Timestamp when the redemption was cancelled
        completedAt:
          type: string
          format: date-time
          description: Timestamp when the redemption was completed
        contactId:
          type: integer
          format: int64
          description: Unique identifier for the contact
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the redemption was created
        debitTransactionId:
          type: string
          format: uuid
          description: Unique identifier for the debit transaction
        expiresAt:
          type: string
          format: date-time
          description: Timestamp when the redemption expires
        id:
          type: string
          format: uuid
          description: Unique identifier for the redemption
        loyaltyProgramId:
          type: string
          format: uuid
          description: Unique identifier for the loyalty program
        meta:
          type: object
          additionalProperties:
            description: Any type
          description: Additional metadata associated with the redemption
        rejectReason:
          type: string
          description: Reason for rejection if the redemption was rejected
        rejectedAt:
          type: string
          format: date-time
          description: Timestamp when the redemption was rejected
        rewardAttributionId:
          type: string
          format: uuid
          description: Unique identifier for the reward attribution
        status:
          type: string
          description: Current status of the redemption
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the redemption was last updated
      title: redeem
    LoyaltyOfferProgramsPidRewardsRidGetResponsesContentApplicationJsonSchemaLimitsItems:
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the reward limit was created
        durationUnit:
          type: string
          description: Unit of time for the reward limit's availability (e.g., day/week/month/year).
        durationValue:
          type: integer
          description: Number of days/weeks/month/year for reward limit
        limitValue:
          type: integer
          description: Value of the limit
        rewardLimitId:
          type: string
          description: Unique identifier for the reward limit
        slidingSchedule:
          type: boolean
          description: Select true to calculate all redeems/attributions from the previous value of selected durationUnit to the current time
        type:
          type: string
          description: Type of reward
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the reward limit was created
      title: LoyaltyOfferProgramsPidRewardsRidGetResponsesContentApplicationJsonSchemaLimitsItems
    nodeResponse:
      type: object
      properties:
        args:
          type: array
          items:
            $ref: '#/components/schemas/nodeResponse'
          description: array[object]
        array:
          type: array
          items:
            $ref: '#/components/schemas/nodeResponse'
          description: Array values for rule definition
        boolean:
          type: boolean
          description: Boolean values for rule definition
        description:
          type: string
          description: Description for rule definition
        float:
          type: number
          format: double
          description: Float values for rule definition
        int:
          type: integer
          format: int64
          description: int64
        op:
          type: string
          description: Operator selected for rule definition
        string:
          type: string
          description: Boolean values for rule definition
      title: nodeResponse
    Reward_getRewardPageApi_Response_200:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/LoyaltyOfferProgramsPidOffersGetResponsesContentApplicationJsonSchemaItemsItems'
          description: Items for the current reward
        totalCount:
          type: integer
          description: Count of the associated parameter in current reward
      title: Reward_getRewardPageApi_Response_200
    LoyaltyOfferProgramsPidVouchersGetParametersSort:
      type: string
      enum:
      - asc
      - desc
      default: desc
      title: LoyaltyOfferProgramsPidVouchersGetParametersSort
    errorModel:
      type: object
      properties:
        code:
          type: string
          description: Error code displayed in case of a failure
        message:
          type: string
          description: Readable message associated to the failure
      required:
      - message
      title: errorModel
    LoyaltyOfferProgramsPidRewardsRidGetResponsesContentApplicationJsonSchemaRuleResultsItems:
      type: object
      properties:
        action:
          type: string
          description: Action for the defined rule
        parameters:
          type: array
          items:
            $ref: '#/components/schemas/LoyaltyOfferProgramsPidRewardsRidGetResponsesContentApplicationJsonSchemaRuleResultsItemsParametersItems'
          description: Parameters to define the reward
        service:
          type: string
          description: Selected service to define the reward
      title: LoyaltyOfferProgramsPidRewardsRidGetResponsesContentApplicationJsonSchemaRuleResultsItems
    LoyaltyOfferProgramsPidRewardsRedeemPostRequestBodyContentApplicationJsonSchemaOrderBilling:
      type: object
      properties:
        address:
          type: string
          description: Address of the user
        city:
          type: string
          description: City of the user
        countryCode:
          type: string
          description: Country code of the user
        paymentMethod:
          type: string
          description: Payment method opted by the user
        phone:
          type: integer
          format: int64
          description: Phone number of the user
        postCode:
          type: integer
          format: int64
          description: Postal Code of user's location
        region:
          type: string
          description: Region where user resides
      description: Billing information for the order
      title: LoyaltyOfferProgramsPidRewardsRedeemPostRequestBodyContentApplicationJsonSchemaOrderBilling
    LoyaltyOfferProgramsPidRewardsRidGetResponsesContentApplicationJsonSchemaRule:
      type: object
      properties:
        condition:
          $ref: '#/components/schemas/ruleConditionResponse'
          description: Selected rule condition
        createdAt:
          type: string
          description: Timestamp when the rule was created
        description:
          type: string
          description: Description of the rule
        event:
          $ref: '#/components/schemas/LoyaltyOfferProgramsPidRewardsRidGetResponsesContentApplicationJsonSchemaRuleEvent'
          description: Selected event in the rule
        isInternal:
          type: boolean
          description: Metric to identify if it's an internal rule or not
        loyaltyProgramId:
          type: string
          description: Loyalty Program id to which current rule is associated
        loyaltyVersionId:
          type: integer
          description: Loyalty Version id to which current rule is associated
        meta:
          type: object
          additionalProperties:
            description: Any type
          description: Additional data to define the rule
        name:
          type: string
          description: Rule name
        results:
          type: array
          items:
            $ref: '#/components/schemas/LoyaltyOfferProgramsPidRewardsRidGetResponsesContentApplicationJsonSchemaRuleResultsItems'
          description: Results of the rule definition
        ruleId:
          type: string
          description: Unique identifier for the rule
        ruleType:
          type: string
          description: Type of the rule
        updatedAt:
          type: string
          description: Timestamp when the rule was updated
      description: Rule to define the reward
      title: LoyaltyOfferProgramsPidRewardsRidGetResponsesContentApplicationJsonSchemaRule
    LoyaltyOfferProgramsPidRewardsRedeemPostRequestBodyContentApplicationJsonSchemaOrderIdentifiers:
      type: object
      properties:
        ext_id:
          type: string
          description: External identifier for the order
        loyalty_subscription_id:
          type: string
          description: Identifier for the loyalty subscription
      description: Additional identifiers for the order
      title: LoyaltyOfferProgramsPidRewardsRedeemPostRequestBodyContentApplicationJsonSchemaOrderIdentifiers
    Reward_getRewardInformation_Response_200:
      type: object
      properties:
        attributionPerConsumer:
          type: integer
          description: Maximum number of times a consumer can be attributed this reward
        balanceDefinitionId:
          type: string
          format: uuid
          description: Unique identifier for the balance definition
        code:
          type: string
          description: Unique code for the reward
        codeCount:
          type: integer
          format: int64
          description: Total number of codes generated
        codeGeneratorId:
          type: string
          format: uuid
          description: Unique identifier for the code generator
        codePoolId:
          type: string
          format: uuid
          description: Unique identifier for the code pool
        config:
          type: string
          description: Configuration settings for the reward
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the reward was created
        disabledAt:
          type: string
          format: date-time
          description: Disabled date of the reward
        endDate:
          type: string
          format: date-time
          description: End date of the reward validity
        expirationDate:
          type: string
          format: date-time
          description: Expiration date of the reward
        expirationModifier:
          $ref: '#/components/schemas/LoyaltyOfferProgramsPidRewardsRidGetResponsesContentApplicationJsonSchemaExpirationModifier'
          default: noModification
          description: Select startOfPeriod to configure rewards expiry on start of day/week/month/year. Select endOfPeriod to configure reward expiry on end of day/week/month/year, else select noModification
        expirationUnit:
          type: string
          description: Unit of time for the rewards's availability (e.g., day/week/month/year).
        expirationValue:
          type: integer
          description: Number of days/weeks/month/year for reward expiry
        generator:
          $ref: '#/components/schemas/LoyaltyOfferProgramsPidRewardsRidGetResponsesContentApplicationJsonSchemaGenerator'
          description: object
        id:
          type: string
          format: uuid
          description: Unique identifier for the reward
        limits:
          type: array
          items:
            $ref: '#/components/schemas/LoyaltyOfferProgramsPidRewardsRidGetResponsesContentApplicationJsonSchemaLimitsItems'
          description: Attribution / Redeem Limits for the reward
        loyaltyProgramId:
          type: string
          format: uuid
          description: Id of the loyalty program to which the current reward belongs to
        meta:
          type: object
          additionalProperties:
            description: Any type
          description: Additional data for reward definition
        name:
          type: string
          description: Name of the reward
        products:
          type: array
          items:
            $ref: '#/components/schemas/LoyaltyOfferProgramsPidRewardsRidGetResponsesContentApplicationJsonSchemaProductsItems'
          description: Selected products for reward definition
        publicDescription:
          type: string
          description: Public description for the reward
        publicImage:
          type: string
          description: Public Image for the reward
        publicName:
          type: string
          description: Public name for the reward
        redeemPerConsumer:
          type: integer
          description: Defines the redeem limit for the consumer
        redeemRules:
          type: array
          items:
            type: string
          description: Rules defined to redeem a reward
        rewardConfigs:
          $ref: '#/components/schemas/LoyaltyOfferProgramsPidRewardsRidGetResponsesContentApplicationJsonSchemaRewardConfigs'
          description: object
        rule:
          $ref: '#/components/schemas/LoyaltyOfferProgramsPidRewardsRidGetResponsesContentApplicationJsonSchemaRule'
          description: Rule to define the reward
        startDate:
          type: string
          format: date-time
          description: Start date of attribution of the reward
        subtractBalanceDefinitionId:
          type: string
          description: Id of the selected balance while redeeming / attributing a reward
        subtractBalanceStrategy:
          type: string
          description: Strategy of the Balance while redeeming / attributing a reward
        subtractBalanceValue:
          type: integer
          description: Amount of balance to be selected while redeeming / attributing a reward
        subtractTotalBalance:
          type: boolean
          description: Value to indicate to subtract full balance or not
        totalAttribution:
          type: integer
          description: Defines the limit to which a consumer can attribute a reward
        totalRedeem:
          type: integer
          description: Defines the limit to which a consumer can redeem a reward
        triggerId:
          type: string
          description: Id of the Rule to be updated for that reward
        unit:
          type: string
          description: Selected unit of the balance
        updatedAt:
          type: string
          description: Timestamp for when this reward was last updated.
        value:
          type: number
          format: double
          description: Value of metric in selected config for reward definition
        valueType:
          type: string
          description: Type of config selected for reward definition
      title: Reward_getRewardInformation_Response_200
    LoyaltyOfferProgramsPidRewardsRidGetResponsesContentApplicationJsonSchemaRuleEvent:
      type: object
      properties:
        name:
          type: string
          description: Name of the event
        source:
          type: string
          description: Source of the event
      description: Selected event in the rule
      title: LoyaltyOfferProgramsPidRewardsRidGetResponsesContentApplicationJsonSchemaRuleEvent
    LoyaltyOfferProgramsPidVouchersGetResponsesContentApplicationJsonSchemaContactRewardsItems:
      type: object
      properties:
        code:
          type: string
          description: Generated code
        consumedAt:
          type: string
          description: Timestamp when the reward limit was consumed
        createdAt:
          type: string
          description: Timestamp when the reward limit was created
        expirationDate:
          type: string
          description: Reward expiration date
        id:
          type: string
          description: Unique identifier for the contact
        meta:
          type: object
          additionalProperties:
            description: Any type
          description: Additional data for the reward
        rewardId:
          type: string
          description: Unique identifier for the reward
        unit:
          type: string
          description: Unit of the balance selected in the reward definition
        updatedAt:
          type: string
          description: Timestamp when the reward limit was updated
        value:
          type: number
          format: double
          description: Value of the selected reward config
        validFrom:
          type: string
          format: date-time
          description: Date from which the voucher becomes valid
      title: LoyaltyOfferProgramsPidVouchersGetResponsesContentApplicationJsonSchemaContactRewardsItems
    Reward_validateReward_Response_200:
      type: object
      properties:
        authorize:
          type: boolean
          description: Boolean value to authorize a reward or not
      title: Reward_validateReward_Response_200
  securitySchemes:
    api-key:
      type: apiKey
      in: header
      name: api-key
      description: The API key should be passed in the request headers as `api-key` for authentication.
