openapi: 3.2.0
info:
  title: Brevo WhatsApp WhatsApp Messages API
  description: The Brevo WhatsApp API enables developers to send transactional WhatsApp messages such as order confirmations, status updates, and password reset links through the WhatsApp Business platform. It provides endpoints for sending template-based messages, managing WhatsApp campaigns, and tracking message delivery and read status. The API leverages WhatsApp's high engagement rates to deliver important notifications directly to users on their preferred messaging platform.
  version: '3.0'
  contact:
    name: Brevo Support
    url: https://help.brevo.com
  termsOfService: https://www.brevo.com/legal/termsofuse/
servers:
- url: https://api.brevo.com/v3
  description: Brevo Production API Server
security:
- apiKeyAuth: []
tags:
- name: WhatsApp Messages
  description: Send transactional WhatsApp messages to recipients using approved templates or plain text.
paths:
  /whatsapp/sendMessage:
    post:
      operationId: sendWhatsAppMessage
      summary: Send a WhatsApp message
      description: Sends a transactional WhatsApp message to a recipient using an approved template or plain text content. Messages are delivered through the WhatsApp Business platform and support dynamic parameter substitution in templates.
      tags:
      - WhatsApp Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendWhatsAppMessage'
      responses:
        '201':
          description: WhatsApp message sent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendWhatsAppResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    SendWhatsAppMessage:
      type: object
      required:
      - contactNumbers
      - templateId
      properties:
        contactNumbers:
          type: array
          description: List of recipient phone numbers in international format.
          items:
            type: string
        templateId:
          type: integer
          format: int64
          description: ID of the approved WhatsApp template to use.
        params:
          type: array
          description: Dynamic parameter values to substitute into the template.
          items:
            type: string
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          description: Error code identifying the type of error.
        message:
          type: string
          description: Human-readable description of the error.
    SendWhatsAppResponse:
      type: object
      properties:
        messageId:
          type: string
          description: Unique identifier assigned to the sent WhatsApp message.
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: api-key
      description: Brevo API key passed in the api-key request header for authentication.
externalDocs:
  description: Brevo WhatsApp Messages Documentation
  url: https://developers.brevo.com/docs/whatsapp-messages
