openapi: 3.2.0
info:
  title: Brevo Conversations Agent Status API
  description: The Brevo Conversations API provides programmatic access to live chat and messaging features for customer support and engagement. It enables developers to manage chat conversations, send and receive messages, and integrate Brevo's chat widget into websites and applications. The API supports real-time communication with site visitors and can be used to build custom chat interfaces, automate responses, and route conversations to appropriate team members.
  version: '3.0'
  contact:
    name: Brevo Support
    url: https://help.brevo.com
  termsOfService: https://www.brevo.com/legal/termsofuse/
servers:
- url: https://api.brevo.com/v3
  description: Brevo Production API Server
security:
- apiKeyAuth: []
tags:
- name: Agent Status
  description: Manage agent online status for conversation availability.
paths:
  /conversations/agentOnlinePing:
    post:
      operationId: setAgentOnline
      summary: Set agent status to online
      description: Sets an agent's status to online for approximately 2-3 minutes. This endpoint should be pinged every minute for as long as the agent needs to be considered available for conversations.
      tags:
      - Agent Status
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - agentId
              properties:
                agentId:
                  type: string
                  description: Unique identifier of the agent to set online.
                receivedFrom:
                  type: string
                  description: Source identifier for the agent's connection.
      responses:
        '204':
          description: Agent status set to online successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          description: Error code identifying the type of error.
        message:
          type: string
          description: Human-readable description of the error.
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: api-key
      description: Brevo API key passed in the api-key request header for authentication.
externalDocs:
  description: Brevo Conversations Documentation
  url: https://developers.brevo.com/docs/getting-started-with-conversations-api
