openapi: 3.2.0
info:
  title: Brevo WhatsApp WhatsApp Campaigns API
  description: The Brevo WhatsApp API enables developers to send transactional WhatsApp messages such as order confirmations, status updates, and password reset links through the WhatsApp Business platform. It provides endpoints for sending template-based messages, managing WhatsApp campaigns, and tracking message delivery and read status. The API leverages WhatsApp's high engagement rates to deliver important notifications directly to users on their preferred messaging platform.
  version: '3.0'
  contact:
    name: Brevo Support
    url: https://help.brevo.com
  termsOfService: https://www.brevo.com/legal/termsofuse/
servers:
- url: https://api.brevo.com/v3
  description: Brevo Production API Server
security:
- apiKeyAuth: []
tags:
- name: WhatsApp Campaigns
  description: Create, manage, and send WhatsApp marketing campaigns.
paths:
  /whatsappCampaigns:
    get:
      operationId: listWhatsAppCampaigns
      summary: Return all WhatsApp campaigns
      description: Retrieves a paginated list of all WhatsApp campaigns created in the account. Supports filtering by status and date range.
      tags:
      - WhatsApp Campaigns
      parameters:
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/offsetParam'
      - name: startDate
        in: query
        description: Filter campaigns created on or after this date.
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        description: Filter campaigns created on or before this date.
        schema:
          type: string
          format: date
      - name: sort
        in: query
        description: Sort direction for the results.
        schema:
          type: string
          enum:
          - asc
          - desc
      responses:
        '200':
          description: WhatsApp campaigns retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsAppCampaignList'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: createWhatsAppCampaign
      summary: Create and send a WhatsApp campaign
      description: Creates a new WhatsApp marketing campaign with the specified template, recipients, and scheduling options.
      tags:
      - WhatsApp Campaigns
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWhatsAppCampaign'
      responses:
        '201':
          description: WhatsApp campaign created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
                    description: Unique identifier of the newly created campaign.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /whatsappCampaigns/{campaignId}:
    get:
      operationId: getWhatsAppCampaign
      summary: Get a WhatsApp campaign
      description: Retrieves the details of a specific WhatsApp campaign including template, recipients, and delivery statistics.
      tags:
      - WhatsApp Campaigns
      parameters:
      - $ref: '#/components/parameters/campaignIdParam'
      responses:
        '200':
          description: WhatsApp campaign retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsAppCampaign'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: updateWhatsAppCampaign
      summary: Update a WhatsApp campaign
      description: Updates an existing WhatsApp campaign with new template, recipients, or scheduling options. Only draft campaigns can be updated.
      tags:
      - WhatsApp Campaigns
      parameters:
      - $ref: '#/components/parameters/campaignIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWhatsAppCampaign'
      responses:
        '204':
          description: Campaign updated successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: deleteWhatsAppCampaign
      summary: Delete a WhatsApp campaign
      description: Permanently deletes a WhatsApp campaign by its unique identifier.
      tags:
      - WhatsApp Campaigns
      parameters:
      - $ref: '#/components/parameters/campaignIdParam'
      responses:
        '204':
          description: Campaign deleted successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /whatsappCampaigns/template-list:
    get:
      operationId: getWhatsAppTemplates
      summary: Return all your created WhatsApp templates
      description: Retrieve a paginated list of all your WhatsApp templates with their status, category, language, and metadata. Results can be filtered by creation date range and optionally by source (Automation or Conversations), with a default limit of 50 and maximum of 100 per page. The sort order defaults to descending by modification date.
      tags:
      - WhatsApp Campaigns
      parameters:
      - name: startDate
        in: query
        description: '**Mandatory if endDate is used**. Starting (urlencoded) UTC date-time (YYYY-MM-DDTHH:mm:ss.SSSZ) to filter the templates created. **Prefer to pass your timezone in date-time format for accurate result**

          '
        required: false
        schema:
          type: string
      - name: endDate
        in: query
        description: '**Mandatory if startDate is used**. Ending (urlencoded) UTC date-time (YYYY-MM-DDTHH:mm:ss.SSSZ) to filter the templates created. **Prefer to pass your timezone in date-time format for accurate result**

          '
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Number of documents per page
        required: false
        schema:
          type: integer
          format: int64
          default: 50
      - name: offset
        in: query
        description: Index of the first document in the page
        required: false
        schema:
          type: integer
          format: int64
          default: 0
      - name: sort
        in: query
        description: Sort the results in the ascending/descending order of record modification. Default order is **descending** if `sort` is not passed
        required: false
        schema:
          $ref: '#/components/schemas/WhatsappCampaignsTemplateListGetParametersSort'
          default: desc
      - name: source
        in: query
        description: source of the template
        required: false
        schema:
          $ref: '#/components/schemas/WhatsappCampaignsTemplateListGetParametersSource'
      - name: api-key
        in: header
        description: The API key should be passed in the request headers as `api-key` for authentication.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: WhatsApp templates informations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsApp_Campaigns_getWhatsAppTemplates_Response_200'
        '400':
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWhatsAppTemplatesRequestBadRequestError'
  /whatsappCampaigns/config:
    get:
      operationId: getWhatsAppConfig
      summary: Get your WhatsApp API account information
      description: 'You can use this API for WhatsApp only if you have setup your WhatsApp account on Brevo platform. To setup your WhatsApp account, follow the steps in the guide below.

        Activating WhatsApp in your account'
      tags:
      - WhatsApp Campaigns
      parameters:
      - name: api-key
        in: header
        description: The API key should be passed in the request headers as `api-key` for authentication.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Get all the information of your WhatsApp API account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsApp_Campaigns_getWhatsAppConfig_Response_200'
        '400':
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWhatsAppConfigRequestBadRequestError'
  /whatsappCampaigns/template:
    post:
      operationId: createWhatsAppTemplate
      summary: Create a WhatsApp template
      description: 'You can use this API for WhatsApp only if you have setup your WhatsApp account on Brevo platform. To setup your WhatsApp account, follow the steps in the guide below.

        Activating WhatsApp in your account'
      tags:
      - WhatsApp Campaigns
      parameters:
      - name: api-key
        in: header
        description: The API key should be passed in the request headers as `api-key` for authentication.
        required: true
        schema:
          type: string
      responses:
        '201':
          description: successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsApp_Campaigns_createWhatsAppTemplate_Response_201'
        '400':
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateWhatsAppTemplateRequestBadRequestError'
      requestBody:
        description: Values to create a WhatsApp Template
        content:
          application/json:
            schema:
              type: object
              properties:
                bodyText:
                  type: string
                  description: Body of the template. **Maximum allowed characters are 1024**
                category:
                  $ref: '#/components/schemas/WhatsappCampaignsTemplatePostRequestBodyContentApplicationJsonSchemaCategory'
                  description: Category of the template
                headerText:
                  type: string
                  description: 'Text content of the header in the template.  **Maximum allowed characters are 45** **Use this field to add text content in template header and if mediaUrl is empty**

                    '
                language:
                  type: string
                  description: 'Language of the template. For Example :

                    **en** for English

                    '
                mediaUrl:
                  type: string
                  description: 'Absolute url of the media file **(no local file)** for the header. **Use this field in you want to add media in Template header and headerText is empty** Allowed extensions for media files are: #### jpeg | png | mp4 | pdf

                    '
                name:
                  type: string
                  description: Name of the template
                source:
                  $ref: '#/components/schemas/WhatsappCampaignsTemplatePostRequestBodyContentApplicationJsonSchemaSource'
                  description: source of the template
              required:
              - bodyText
              - category
              - language
              - name
  /whatsappCampaigns/template/approval/{templateId}:
    post:
      operationId: sendWhatsAppTemplateApproval
      summary: Send your WhatsApp template for approval
      description: 'You can use this API for WhatsApp only if you have setup your WhatsApp account on Brevo platform. To setup your WhatsApp account, follow the steps in the guide below.

        Activating WhatsApp in your account'
      tags:
      - WhatsApp Campaigns
      parameters:
      - name: templateId
        in: path
        description: id of the template
        required: true
        schema:
          type: integer
          format: int64
      - name: api-key
        in: header
        description: The API key should be passed in the request headers as `api-key` for authentication.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: WhatsApp template sent for approval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsApp_Campaigns_sendWhatsAppTemplateApproval_Response_200'
        '400':
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendWhatsAppTemplateApprovalRequestBadRequestError'
components:
  parameters:
    campaignIdParam:
      name: campaignId
      in: path
      required: true
      description: Unique identifier of the WhatsApp campaign.
      schema:
        type: integer
        format: int64
    limitParam:
      name: limit
      in: query
      description: Maximum number of results to return per request.
      schema:
        type: integer
        format: int64
        default: 50
    offsetParam:
      name: offset
      in: query
      description: Number of results to skip for pagination.
      schema:
        type: integer
        format: int64
        default: 0
  schemas:
    WhatsAppCampaign:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier of the campaign.
        campaignName:
          type: string
          description: Name of the campaign.
        campaignStatus:
          type: string
          description: Current status of the campaign.
          enum:
          - draft
          - scheduled
          - sent
          - archive
        templateId:
          type: integer
          format: int64
          description: ID of the WhatsApp template used for the campaign.
        scheduledAt:
          type: string
          format: date-time
          description: UTC date-time when the campaign is scheduled to send.
        recipients:
          type: object
          description: Target audience for the campaign.
          properties:
            lists:
              type: array
              description: IDs of contact lists to target.
              items:
                type: integer
                format: int64
            segments:
              type: array
              description: IDs of segments to target.
              items:
                type: integer
                format: int64
        statistics:
          type: object
          description: Campaign delivery statistics.
          properties:
            sent:
              type: integer
              format: int64
              description: Number of messages sent.
            delivered:
              type: integer
              format: int64
              description: Number of messages delivered.
            read:
              type: integer
              format: int64
              description: Number of messages read.
        createdAt:
          type: string
          format: date-time
          description: UTC date-time when the campaign was created.
        modifiedAt:
          type: string
          format: date-time
          description: UTC date-time when the campaign was last modified.
    UpdateWhatsAppCampaign:
      type: object
      properties:
        campaignName:
          type: string
          description: Updated name for the campaign.
        templateId:
          type: integer
          format: int64
          description: Updated template ID for the campaign.
        scheduledAt:
          type: string
          format: date-time
          description: Updated scheduled send date-time.
        recipients:
          type: object
          description: Updated target audience.
          properties:
            listIds:
              type: array
              description: IDs of contact lists to target.
              items:
                type: integer
                format: int64
            segments:
              type: array
              description: IDs of segments to target.
              items:
                type: integer
                format: int64
    WhatsAppCampaignList:
      type: object
      properties:
        count:
          type: integer
          format: int64
          description: Total number of WhatsApp campaigns.
        campaigns:
          type: array
          description: List of WhatsApp campaign summaries.
          items:
            $ref: '#/components/schemas/WhatsAppCampaign'
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          description: Error code identifying the type of error.
        message:
          type: string
          description: Human-readable description of the error.
    CreateWhatsAppCampaign:
      type: object
      required:
      - name
      - templateId
      - recipients
      properties:
        name:
          type: string
          description: Name for the campaign.
        templateId:
          type: integer
          format: int64
          description: ID of the approved WhatsApp template to use.
        scheduledAt:
          type: string
          format: date-time
          description: UTC date-time to schedule the campaign send.
        recipients:
          type: object
          description: Target audience for the campaign.
          required:
          - listIds
          properties:
            listIds:
              type: array
              description: IDs of contact lists to target.
              items:
                type: integer
                format: int64
            segments:
              type: array
              description: IDs of segments to target.
              items:
                type: integer
                format: int64
    UpdateWhatsAppCampaignRequestBadRequestError:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/WhatsappCampaignsCampaignIdPutResponsesContentApplicationJsonSchemaCode'
          description: Error code displayed in case of a failure
        message:
          type: string
          description: Readable message associated to the failure
      required:
      - code
      - message
      title: UpdateWhatsAppCampaignRequestBadRequestError
    WhatsappCampaignsCampaignIdGetResponsesContentApplicationJsonSchemaTemplateComponentsItems:
      type: object
      properties:
        text:
          type: string
        type:
          type: string
      title: WhatsappCampaignsCampaignIdGetResponsesContentApplicationJsonSchemaTemplateComponentsItems
    GetWhatsAppTemplatesRequestBadRequestError:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/WhatsappCampaignsTemplateListGetResponsesContentApplicationJsonSchemaCode'
          description: Error code displayed in case of a failure
        message:
          type: string
          description: Readable message associated to the failure
      required:
      - code
      - message
      title: GetWhatsAppTemplatesRequestBadRequestError
    WhatsApp_Campaigns_sendWhatsAppTemplateApproval_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: WhatsApp Campaigns_sendWhatsAppTemplateApproval_Response_200
    WhatsappCampaignsCampaignIdPutResponsesContentApplicationJsonSchemaCode:
      type: string
      enum:
      - invalid_parameter
      - missing_parameter
      - out_of_range
      - campaign_processing
      - campaign_sent
      - document_not_found
      - not_enough_credits
      - permission_denied
      - duplicate_parameter
      - duplicate_request
      - method_not_allowed
      - unauthorized
      - account_under_validation
      - not_acceptable
      - bad_request
      - unprocessable_entity
      - Domain does not exist
      - Contact email not found
      - Attribute not found
      - Category id not found
      - Invalid parameters passed
      - Record(s) for identifier not found
      - Returned when query params are invalid
      - Returned when invalid data posted
      - Feed not found
      - Campaign ID not found
      - api-key not found
      - DMARC policy requires domain authentication
      - DNS records not properly configured
      - Invalid OTP code provided
      - OTP code has expired
      - Domain already exists in your account
      - The sum of all IP weights must equal 100
      - Authentication failed
      - Insufficient credits
      - Request already processed
      description: Error code displayed in case of a failure
      title: WhatsappCampaignsCampaignIdPutResponsesContentApplicationJsonSchemaCode
    WhatsappCampaignsTemplateApprovalTemplateIdPostResponsesContentApplicationJsonSchemaCode:
      type: string
      enum:
      - invalid_parameter
      - missing_parameter
      - out_of_range
      - campaign_processing
      - campaign_sent
      - document_not_found
      - not_enough_credits
      - permission_denied
      - duplicate_parameter
      - duplicate_request
      - method_not_allowed
      - unauthorized
      - account_under_validation
      - not_acceptable
      - bad_request
      - unprocessable_entity
      - Domain does not exist
      - Contact email not found
      - Attribute not found
      - Category id not found
      - Invalid parameters passed
      - Record(s) for identifier not found
      - Returned when query params are invalid
      - Returned when invalid data posted
      - Feed not found
      - Campaign ID not found
      - api-key not found
      - DMARC policy requires domain authentication
      - DNS records not properly configured
      - Invalid OTP code provided
      - OTP code has expired
      - Domain already exists in your account
      - The sum of all IP weights must equal 100
      - Authentication failed
      - Insufficient credits
      - Request already processed
      description: Error code displayed in case of a failure
      title: WhatsappCampaignsTemplateApprovalTemplateIdPostResponsesContentApplicationJsonSchemaCode
    WhatsappCampStats:
      type: object
      properties:
        delivered:
          type: integer
        notSent:
          type: integer
        read:
          type: integer
        sent:
          type: integer
        unsubscribe:
          type: integer
      required:
      - delivered
      - notSent
      - read
      - sent
      - unsubscribe
      title: WhatsappCampStats
    WhatsappCampaignsConfigGetResponsesContentApplicationJsonSchemaPhoneNumberNameStatus:
      type: string
      enum:
      - APPROVED
      - PENDING
      - REJECTED
      description: Status of the name associated with WhatsApp Phone number
      title: WhatsappCampaignsConfigGetResponsesContentApplicationJsonSchemaPhoneNumberNameStatus
    WhatsappCampaignsCampaignIdDeleteResponsesContentApplicationJsonSchemaCode:
      type: string
      enum:
      - invalid_parameter
      - missing_parameter
      - out_of_range
      - campaign_processing
      - campaign_sent
      - document_not_found
      - not_enough_credits
      - permission_denied
      - duplicate_parameter
      - duplicate_request
      - method_not_allowed
      - unauthorized
      - account_under_validation
      - not_acceptable
      - bad_request
      - unprocessable_entity
      - Domain does not exist
      - Contact email not found
      - Attribute not found
      - Category id not found
      - Invalid parameters passed
      - Record(s) for identifier not found
      - Returned when query params are invalid
      - Returned when invalid data posted
      - Feed not found
      - Campaign ID not found
      - api-key not found
      - DMARC policy requires domain authentication
      - DNS records not properly configured
      - Invalid OTP code provided
      - OTP code has expired
      - Domain already exists in your account
      - The sum of all IP weights must equal 100
      - Authentication failed
      - Insufficient credits
      - Request already processed
      description: Error code displayed in case of a failure
      title: WhatsappCampaignsCampaignIdDeleteResponsesContentApplicationJsonSchemaCode
    WhatsappCampaignsPostResponsesContentApplicationJsonSchemaCode:
      type: string
      enum:
      - invalid_parameter
      - missing_parameter
      - out_of_range
      - campaign_processing
      - campaign_sent
      - document_not_found
      - not_enough_credits
      - permission_denied
      - duplicate_parameter
      - duplicate_request
      - method_not_allowed
      - unauthorized
      - account_under_validation
      - not_acceptable
      - bad_request
      - unprocessable_entity
      - Domain does not exist
      - Contact email not found
      - Attribute not found
      - Category id not found
      - Invalid parameters passed
      - Record(s) for identifier not found
      - Returned when query params are invalid
      - Returned when invalid data posted
      - Feed not found
      - Campaign ID not found
      - api-key not found
      - DMARC policy requires domain authentication
      - DNS records not properly configured
      - Invalid OTP code provided
      - OTP code has expired
      - Domain already exists in your account
      - The sum of all IP weights must equal 100
      - Authentication failed
      - Insufficient credits
      - Request already processed
      description: Error code displayed in case of a failure
      title: WhatsappCampaignsPostResponsesContentApplicationJsonSchemaCode
    DeleteWhatsAppCampaignRequestBadRequestError:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/WhatsappCampaignsCampaignIdDeleteResponsesContentApplicationJsonSchemaCode'
          description: Error code displayed in case of a failure
        message:
          type: string
          description: Readable message associated to the failure
      required:
      - code
      - message
      title: DeleteWhatsAppCampaignRequestBadRequestError
    WhatsappCampaignsGetResponsesContentApplicationJsonSchemaCode:
      type: string
      enum:
      - invalid_parameter
      - missing_parameter
      - out_of_range
      - campaign_processing
      - campaign_sent
      - document_not_found
      - not_enough_credits
      - permission_denied
      - duplicate_parameter
      - duplicate_request
      - method_not_allowed
      - unauthorized
      - account_under_validation
      - not_acceptable
      - bad_request
      - unprocessable_entity
      - Domain does not exist
      - Contact email not found
      - Attribute not found
      - Category id not found
      - Invalid parameters passed
      - Record(s) for identifier not found
      - Returned when query params are invalid
      - Returned when invalid data posted
      - Feed not found
      - Campaign ID not found
      - api-key not found
      - DMARC policy requires domain authentication
      - DNS records not properly configured
      - Invalid OTP code provided
      - OTP code has expired
      - Domain already exists in your account
      - The sum of all IP weights must equal 100
      - Authentication failed
      - Insufficient credits
      - Request already processed
      description: Error code displayed in case of a failure
      title: WhatsappCampaignsGetResponsesContentApplicationJsonSchemaCode
    WhatsappCampaignsTemplateListGetParametersSort:
      type: string
      enum:
      - asc
      - desc
      default: desc
      title: WhatsappCampaignsTemplateListGetParametersSort
    WhatsappCampaignsTemplateListGetParametersSource:
      type: string
      enum:
      - Automation
      - Conversations
      title: WhatsappCampaignsTemplateListGetParametersSource
    WhatsappCampaignsCampaignIdGetResponsesContentApplicationJsonSchemaCampaignStatus:
      type: string
      enum:
      - draft
      - scheduled
      - pending
      - approved
      - running
      - suspended
      - rejected
      - sent
      description: Status of the WhatsApp Campaign
      title: WhatsappCampaignsCampaignIdGetResponsesContentApplicationJsonSchemaCampaignStatus
    WhatsappCampaignsTemplateListGetResponsesContentApplicationJsonSchemaTemplatesItems:
      type: object
      properties:
        category:
          type: string
          description: category of the template
        createdAt:
          type: string
          description: Creation UTC date-time of the whatsApp template (YYYY-MM-DDTHH:mm:ss.SSSZ)
        errorReason:
          type: string
          description: Error reason in the template creation
        id:
          type: integer
          format: int64
          description: ID of the whatsApp template
        language:
          type: string
          description: Language in which template exists
        modifiedAt:
          type: string
          description: UTC date-time of last modification of the whatsApp template (YYYY-MM-DDTHH:mm:ss.SSSZ)
        name:
          type: string
          description: Name of the whatsApp template
        status:
          type: string
          description: Status of the whatsApp template
        type:
          type: string
          description: Type of the whatsApp template
      required:
      - category
      - createdAt
      - id
      - language
      - modifiedAt
      - name
      - status
      - type
      title: WhatsappCampaignsTemplateListGetResponsesContentApplicationJsonSchemaTemplatesItems
    GetWhatsAppCampaignsRequestBadRequestError:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/WhatsappCampaignsGetResponsesContentApplicationJsonSchemaCode'
          description: Error code displayed in case of a failure
        message:
          type: string
          description: Readable message associated to the failure
      required:
      - code
      - message
      title: GetWhatsAppCampaignsRequestBadRequestError
    WhatsappCampaignsCampaignIdGetResponsesContentApplicationJsonSchemaCode:
      type: string
      enum:
      - invalid_parameter
      - missing_parameter
      - out_of_range
      - campaign_processing
      - campaign_sent
      - document_not_found
      - not_enough_credits
      - permission_denied
      - duplicate_parameter
      - duplicate_request
      - method_not_allowed
      - unauthorized
      - account_under_validation
      - not_acceptable
      - bad_request
      - unprocessable_entity
      - Domain does not exist
      - Contact email not found
      - Attribute not found
      - Category id not found
      - Invalid parameters passed
      - Record(s) for identifier not found
      - Returned when query params are invalid
      - Returned when invalid data posted
      - Feed not found
      - Campaign ID not found
      - api-key not found
      - DMARC policy requires domain authentication
      - DNS records not properly configured
      - Invalid OTP code provided
      - OTP code has expired
      - Domain already exists in your account
      - The sum of all IP weights must equal 100
      - Authentication failed
      - Insufficient credits
      - Request already processed
      description: Error code displayed in case of a failure
      title: WhatsappCampaignsCampaignIdGetResponsesContentApplicationJsonSchemaCode
    WhatsappCampaignsTemplatePostRequestBodyContentApplicationJsonSchemaCategory:
      type: string
      enum:
      - MARKETING
      - UTILITY
      description: Category of the template
      title: WhatsappCampaignsTemplatePostRequestBodyContentApplicationJsonSchemaCategory
    variablesItems:
      type: object
      properties:
        datatype:
          type: string
        default:
          type: string
        name:
          type: string
      title: variablesItems
    WhatsappCampaignsCampaignIdGetResponsesContentApplicationJsonSchemaRecipients:
      type: object
      properties:
        excludedLists:
          type: array
          items:
            type: integer
            format: int64
          description: List of excluded list IDs
        includedLists:
          type: array
          items:
            type: integer
            format: int64
          description: List of included list IDs
        segments:
          type: array
          items:
            type: integer
            format: int64
          description: List of segment IDs
        type:
          type: string
          description: Type of recipients (list or segment)
      description: Recipients of the WhatsApp Campaign
      title: WhatsappCampaignsCampaignIdGetResponsesContentApplicationJsonSchemaRecipients
    GetWhatsAppCampaignRequestBadRequestError:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/WhatsappCampaignsCampaignIdGetResponsesContentApplicationJsonSchemaCode'
          description: Error code displayed in case of a failure
        message:
          type: string
          description: Readable message associated to the failure
      required:
      - code
      - message
      title: GetWhatsAppCampaignRequestBadRequestError
    CreateWhatsAppCampaignRequestBadRequestError:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/WhatsappCampaignsPostResponsesContentApplicationJsonSchemaCode'
          description: Error code displayed in case of a failure
        message:
          type: string
          description: Readable message associated to the failure
      required:
      - code
      - message
      title: CreateWhatsAppCampaignRequestBadRequestError
    WhatsappCampaignsConfigGetResponsesContentApplicationJsonSchemaWhatsappBusinessAccountStatus:
      type: string
      enum:
      - APPROVED
      - PENDING
      - REJECTED
      description: Status information related to WhatsApp Api account
      title: WhatsappCampaignsConfigGetResponsesContentApplicationJsonSchemaWhatsappBusinessAccountStatus
    SendWhatsAppTemplateApprovalRequestBadRequestError:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/WhatsappCampaignsTemplateApprovalTemplateIdPostResponsesContentApplicationJsonSchemaCode'
          description: Error code displayed in case of a failure
        message:
          type: string
          description: Readable message associated to the failure
      required:
      - code
      - message
      title: SendWhatsAppTemplateApprovalRequestBadRequestError
    WhatsappCampaignsCampaignIdGetResponsesContentApplicationJsonSchemaTemplate:
      type: object
      properties:
        body_variables:
          type: array
          items:
            $ref: '#/components/schemas/variablesItems'
          description: array of variables item variables
        button_type:
          type: string
        category:
          type: string
          description: description of the template
        components:
          type: array
          items:
            $ref: '#/components/schemas/WhatsappCampaignsCampaignIdGetResponsesContentApplicationJsonSchemaTemplateComponentsItems'
          description: array of component item objects
        contains_button:
          type: boolean
        display_header:
          type: boolean
        header_type:
          type: string
          description: type of header
        header_variables:
          type: array
          items:
            $ref: '#/components/schemas/variablesItems'
          description: array of variables item object
        hide_footer:
          type: boolean
        language:
          type: string
          description: language of the template
        name:
          type: string
          description: name of the template
      title: WhatsappCampaignsCampaignIdGetResponsesContentApplicationJsonSchemaTemplate
    WhatsappCampaignsGetResponsesContentApplicationJsonSchemaCampaignsItemsCampaignStatus:
      type: string
      enum:
      - draft
      - scheduled
      - pending
      - approved
      - running
      - suspended
      - rejected
      - sent
      description: Status of the Whatsapp Campaign
      title: WhatsappCampaignsGetResponsesContentApplicationJsonSchemaCampaignsItemsCampaignStatus
    WhatsappCampaignsGetResponsesContentApplicationJsonSchemaCampaignsItems:
      type: object
      properties:
        campaignName:
          type: string
          description: Name of the WhatsApp Campaign
        campaignStatus:
          $ref: '#/components/schemas/WhatsappCampaignsGetResponsesContentApplicationJsonSchemaCampaignsItemsCampaignStatus'
          description: Status of the Whatsapp Campaign
        createdAt:
          type: string
          description: Creation UTC date-time of the WhatsApp campaign (YYYY-MM-DDTHH:mm:ss.SSSZ)
        errorReason:
          type: string
          description: Error Reason associated with the WhatsApp campaign sending
        id:
          type: integer
          format: int64
          description: ID of the WhatsApp Campaign
        invalidatedContacts:
          type: integer
          format: int64
          description: Count of invalidated contacts
        modifiedAt:
          type: string
          description: UTC date-time of last modification of the WhatsApp campaign (YYYY-MM-DDTHH:mm:ss.SSSZ)
        readPercentage:
          type: string
          title: float
          description: Read percentage of the the whatsapp campaign created
        scheduledAt:
          type: string
          description: UTC date-time on which WhatsApp campaign is scheduled. Should be in YYYY-MM-DDTHH:mm:ss.SSSZ format
        stats:
          $ref: '#/components/schemas/WhatsappCampStats'
        templateId:
          type: string
          description: Id of the WhatsApp template
      required:
      - campaignName
      - campaignStatus
      - createdAt
      - id
      - modifiedAt
      - scheduledAt
      - templateId
      title: WhatsappCampaignsGetResponsesContentApplicationJsonSchemaCampaignsItems
    WhatsappCampaignsTemplatePostRequestBodyContentApplicationJsonSchemaSource:
      type: string
      enum:
      - Automation
      - Conversations
      description: source of the template
      title: WhatsappCampaignsTemplatePostRequestBodyContentApplicationJsonSchemaSource
    CreateWhatsAppTemplateRequestBadRequestError:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/WhatsappCampaignsTemplatePostResponsesContentApplicationJsonSchemaCode'
          description: Error code displayed in case of a failure
        message:
          type: string
          description: Readable message associated to the failure
      required:
      - code
      - message
      title: CreateWhatsAppTemplateRequestBadRequestError
    WhatsApp_Campaigns_getWhatsAppConfig_Response_200:
      type: object
      properties:
        businessStatus:
          type: string
          description: Verification status information of the Business account
        phoneNumberNameStatus:
          $ref: '#/components/schemas/WhatsappCampaignsConfigGetResponsesContentApplicationJsonSchemaPhoneNumberNameStatus'
          description: Status of the name associated with WhatsApp Phone number
        phoneNumberQuality:
          $ref: '#/components/schemas/WhatsappCampaignsConfigGetResponsesContentApplicationJsonSchemaPhoneNumberQuality'
          description: Quality status of phone number associated with WhatsApp account. There are three quality ratings. example - **High (GREEN) , Medium (YELLOW) and Low(RED)**
        sendingLimit:
          type: string
          description: Sending limit of the WhatsApp account
        whatsappBusinessAccountId:
          type: string
          description: Id of the WhatsApp business account
        whatsappBusinessAccountStatus:
          $ref: '#/components/schemas/WhatsappCampaignsConfigGetResponsesContentApplicationJsonSchemaWhatsappBusinessAccountStatus'
          description: Status information related to WhatsApp Api account
      title: WhatsApp Campaigns_getWhatsAppConfig_Response_200
    GetWhatsAppConfigRequestBadRequestError:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/WhatsappCampaignsConfigGetResponsesContentApplicationJsonSchemaCode'
          description: Error code displayed in case of a failure
        message:
          type: string
          description: Readable message associated to the failure
      required:
      - code
      - message
      title: GetWhatsAppConfigRequestBadRequestError
    WhatsappCampaignsConfigGetResponsesContentApplicationJsonSchemaCode:
      type: string
      enum:
      - invalid_parameter
      - missing_parameter
      - out_of_range
      - campaign_processing
      - campaign_sent
      - document_not_found
      - not_enough_credits
      - permission_denied
      - duplicate_parameter
      - duplicate_request
      - method_not_allowed
      - unauthorized
      - account_under_validation
      - not_acceptable
      - bad_request
      - unprocessable_entity
      - Domain does not exist
      - Contact email not found
      - Attribute not found
      - Category id not found
      - Invalid parameters passed
      - Record(s) for identifier not found
      - Returned when query params are invalid
      - Returned when invalid data posted
      - Feed not found
      - Campaign ID not found
      - api-key not found
      - DMARC policy requires domain authentication
      - DNS records not properly configured
      - Invalid OTP code provided
      - OTP code has expired
      - Domain already exists in your account
      - The sum of all IP weights must equal 100
      - Authentication failed
      - Insufficient credits
      - Request already processed
      description: Error code displayed in case of a failure
      title: WhatsappCampaignsConfigGetResponsesContentApplicationJsonSchemaCode
    WhatsappCampaignsCampaignIdPutRequestBodyContentApplicationJsonSchemaCampaignStatus:
      type: string
      enum:
      - scheduled
      - suspended
      default: scheduled
      description: Status of the campaign
      title: WhatsappCampaignsCampaignIdPutRequestBodyContentApplicationJsonSchemaCampaignStatus
    WhatsApp_Campaigns_getWhatsAppTemplates_Response_200:
      type: object
      properties:
        count:
          type: integer
          format: int64
          description: Number of whatsApp templates retrieved
        templates:
          type: array
          items:
            $ref: '#/components/schemas/WhatsappCampaignsTemplateListGetResponsesContentApplicationJsonSchemaTemplatesItems'
      title: WhatsApp Campaigns_getWhatsAppTemplates_Response_200
    WhatsApp_Campaigns_getWhatsAppCampaign_Response_200:
      type: object
      properties:
        campaignName:
          type: string
          description: Name of the WhatsApp Campaign
        campaignStatus:
          $ref: '#/components/schemas/WhatsappCampaignsCampaignIdGetResponsesContentApplicationJsonSchemaCampaignStatus'
          description: Status of the WhatsApp Campaign
        createdAt:
          type: string
          description: Creation UTC date-time of the WhatsApp campaign (YYYY-MM-DDTHH:mm:ss.SSSZ)
        id:
          type: integer
          format: int64
          description: ID of the WhatsApp Campaign
        modifiedAt:
          type: string
          description: UTC date-time of last modification of the WhatsApp campaign (YYYY-MM-DDTHH:mm:ss.SSSZ)
        scheduledAt:
          type: string
          description: UTC date-time on which WhatsApp campaign is scheduled. Should be in YYYY-MM-DDTHH:mm:ss.SSSZ format
        recipients:
          $ref: '#/components/schemas/WhatsappCampaignsCampaignIdGetResponsesContentApplicationJsonSchemaRecipients'
          description: Recipients of the WhatsApp Campaign
        senderNumber:
          type: string
          description: Sender of the WhatsApp Campaign
        stats:
          $ref: '#/components/schemas/WhatsappCampStats'
        template:
          $ref: '#/components/schemas/WhatsappCampaignsCampaignIdGetResponsesContentApplicationJsonSchemaTemplate'
      required:
      - campaignName
      - campaignStatus
      - createdAt
      - id
      - modifiedAt
      - recipients
      - senderNumber
      - template
      title: WhatsApp Campaigns_getWhatsAppCampaign_Response_200
    WhatsappCampaignsConfigGetResponsesContentApplicationJsonSchemaPhoneNumberQuality:
      type: string
      enum:
      - GREEN
      - YELLOW
      - RED
      description: Quality status of phone number associated with WhatsApp account. There are three quality ratings. example - **High (GREEN) , Medium (YELLOW) and Low(RED)**
      title: WhatsappCampaignsConfigGetResponsesContentApplicationJsonSchemaPhoneNumberQuality
    WhatsApp_Campaigns_createWhatsAppTemplate_Response_201:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: ID of the object created
      required:
      - id
      title: WhatsApp Campaigns_createWhatsAppTemplate_Response_201
    DeleteWhatsAppCampaignRequestNotFoundError:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/WhatsappCampaignsCampaignIdDeleteResponsesContentApplicationJsonSchemaCode'
          description: Error code displayed in case of a failure
        message:
          type: string
          description: Readable message associated to the failure
      required:
      - code
      - message
      title: DeleteWhatsAppCampaignRequestNotFoundError
    WhatsappCampaignsPostRequestBodyContentApplicationJsonSchemaRecipients:
      type: object
      properties:
        excludedListIds:
          type: array
          items:
            type: integer
            format: int64
          description: List ids to exclude from the campaign
        listIds:
          type: array
          items:
            type: integer
            format: int64
          description: '**Mandatory if scheduledAt is not empty**. List Ids to send the campaign to

            '
        segments:
          type: array
          items:
            type: integer
            format: int64
          description: '**Mandatory if listIds are not used**. Segment ids to send the campaign to.

            '
      description: Segment ids and List ids to include/exclude from campaign
      title: WhatsappCampaignsPostRequestBodyContentApplicationJsonSchemaRecipients
    WhatsappCampaignsTemplateListGetResponsesContentApplicationJsonSchemaCode:
      type: string
      enum:
      - invalid_parameter
      - missing_parameter
      - out_of_range
      - campaign_processing
      - campaign_sent
      - document_not_found
      - not_enough_credits
      - permission_denied
      - duplicate_parameter
      - duplicate_request
      - method_not_allowed
      - unauthorized
      - account_under_validation
      - not_acceptable
      - bad_request
      - unprocessable_entity
      - Domain does not exist
      - Contact email not found
      - Attribute not found
      - Category id not found
      - Invalid parameters passed
      - Record(s) for identifier not found
      - Returned when query params are invalid
      - Returned when invalid data posted
      - Feed not found
      - Campaign ID not found
      - api-key not found
      - DMARC policy requires domain authentication
      - DNS records not properly configured
      - Invalid OTP code provided
      - OTP code has expired
      - Domain already exists in your account
      - The sum of all IP weights must equal 100
      - Authentication failed
      - Insufficient credits
      - Request already processed
      description: Error code displayed in case of a failure
      title: WhatsappCampaignsTemplateListGetResponsesContentApplicationJsonSchemaCode
    GetWhatsAppCampaignRequestNotFoundError:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/WhatsappCampaignsCampaignIdGetResponsesContentApplicationJsonSchemaCode'
          description: Error code displayed in case of a failure
        message:
          type: string
          description: Readable message associated to the failure
      required:
      - code
      - message
      title: GetWhatsAppCampaignRequestNotFoundError
    WhatsappCampaignsTemplatePostResponsesContentApplicationJsonSchemaCode:
      type: string
      enum:
      - invalid_parameter
      - missing_parameter
      - out_of_range
      - campaign_processing
      - campaign_sent
      - document_not_found
      - not_enough_credits
      - permission_denied
      - duplicate_parameter
      - duplicate_request
      - method_not_allowed
      - unauthorized
      - account_under_validation
      - not_acceptable
      - bad_request
      - unprocessable_entity
      - Domain does not exist
      - Contact email not found
      - Attribute not found
      - Category id not found
      - Invalid parameters passed
      - Record(s) for identifier not found
      - Returned when query params are invalid
      - Returned when invalid data posted
      - Feed not found
      - Campaign ID not found
      - api-key not found
      - DMARC policy requires domain authentication
      - DNS records not properly configured
      - Invalid OTP code provided
      - OTP code has expired
      - Domain already exists in your account
      - The sum of all IP weights must equal 100
      - Authentication failed
      - Insufficient credits
      - Request already processed
      description: Error code displayed in case of a failure
      title: WhatsappCampaignsTemplatePostResponsesContentApplicationJsonSchemaCode
    WhatsApp_Campaigns_createWhatsAppCampaign_Response_201:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: ID of the object created
      required:
      - id
      title: WhatsApp Campaigns_createWhatsAppCampaign_Response_201
    WhatsappCampaignsCampaignIdPutRequestBodyContentApplicationJsonSchemaRecipients:
      type: object
      properties:
        excludedListIds:
          type: array
          items:
            type: integer
            format: int64
          description: List ids to exclude from the campaign
        listIds:
          type: array
          items:
            type: integer
            format: int64
          description: '**Mandatory if scheduledAt is not empty**. List Ids to send the campaign to

            '
        segments:
          type: array
          items:
            type: integer
            format: int64
          description: '**Mandatory if listIds are not used**. Segment ids to send the campaign to.

            '
      description: Segment ids and List ids to include/exclude from campaign
      title: WhatsappCampaignsCampaignIdPutRequestBodyContentApplicationJsonSchemaRecipients
    WhatsappCampaignsGetParametersSort:
      type: string
      enum:
      - asc
      - desc
      default: desc
      title: WhatsappCampaignsGetParametersSort
    WhatsApp_Campaigns_getWhatsAppCampaigns_Response_200:
      type: object
      properties:
        campaigns:
          type: array
          items:
            $ref: '#/components/schemas/WhatsappCampaignsGetResponsesContentApplicationJsonSchemaCampaignsItems'
        count:
          type: integer
          format: int64
          description: Number of WhatsApp campaigns retrieved
      title: WhatsApp Campaigns_getWhatsAppCampaigns_Response_200
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: api-key
      description: Brevo API key passed in the api-key request header for authentication.
    api-key:
      type: apiKey
      in: header
      name: api-key
      description: The API key should be passed in the request headers as `api-key` for authentication.
externalDocs:
  description: Brevo WhatsApp Messages Documentation
  url: https://developers.brevo.com/docs/whatsapp-messages
