openapi: 3.1.0
info:
  title: Brevo Contacts Agent Status API
  description: The Brevo Contacts API provides programmatic access to contact management features including creating, updating, and deleting contacts. Developers can organize contacts into lists, apply attributes and tags, import contacts in bulk, and build audience segments for targeted campaigns. The API also supports managing folders, contact attributes, and custom fields to structure contact data according to business needs.
  version: '3.0'
  contact:
    name: Brevo Support
    url: https://help.brevo.com
  termsOfService: https://www.brevo.com/legal/termsofuse/
servers:
- url: https://api.brevo.com/v3
  description: Brevo Production API Server
security:
- apiKeyAuth: []
tags:
- name: Agent Status
  description: Manage agent online status for conversation availability.
paths:
  /conversations/agentOnlinePing:
    post:
      operationId: setAgentOnline
      summary: Set agent status to online
      description: Sets an agent's status to online for approximately 2-3 minutes. This endpoint should be pinged every minute for as long as the agent needs to be considered available for conversations.
      tags:
      - Agent Status
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - agentId
              properties:
                agentId:
                  type: string
                  description: Unique identifier of the agent to set online.
                receivedFrom:
                  type: string
                  description: Source identifier for the agent's connection.
      responses:
        '204':
          description: Agent status set to online successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          description: Error code identifying the type of error.
        message:
          type: string
          description: Human-readable description of the error.
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: api-key
      description: Brevo API key passed in the api-key request header for authentication.
externalDocs:
  description: Brevo Contacts Documentation
  url: https://developers.brevo.com/docs/how-it-works
