openapi: 3.1.0
info:
  title: Brevo Contacts Agent Status Transactional SMS API
  description: The Brevo Contacts API provides programmatic access to contact management features including creating, updating, and deleting contacts. Developers can organize contacts into lists, apply attributes and tags, import contacts in bulk, and build audience segments for targeted campaigns. The API also supports managing folders, contact attributes, and custom fields to structure contact data according to business needs.
  version: '3.0'
  contact:
    name: Brevo Support
    url: https://help.brevo.com
  termsOfService: https://www.brevo.com/legal/termsofuse/
servers:
- url: https://api.brevo.com/v3
  description: Brevo Production API Server
security:
- apiKeyAuth: []
tags:
- name: Transactional SMS
  description: Send transactional SMS messages for notifications, verifications, and alerts.
paths:
  /transactionalSMS/sms:
    post:
      operationId: sendTransactionalSms
      summary: Send a transactional SMS
      description: Sends a transactional SMS message to a recipient phone number. Supports customizable sender names and message content. The message is delivered immediately for time-sensitive notifications.
      tags:
      - Transactional SMS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendTransactionalSms'
      responses:
        '201':
          description: SMS sent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendSmsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          description: Error code identifying the type of error.
        message:
          type: string
          description: Human-readable description of the error.
    SendSmsResponse:
      type: object
      properties:
        reference:
          type: string
          description: Unique reference identifier for the sent SMS message.
        messageId:
          type: integer
          format: int64
          description: Unique message ID assigned to the SMS.
        smsCount:
          type: integer
          description: Number of SMS segments used to send the message.
        usedCredits:
          type: number
          format: float
          description: Number of SMS credits consumed.
        remainingCredits:
          type: number
          format: float
          description: Remaining SMS credits in the account.
    SendTransactionalSms:
      type: object
      required:
      - sender
      - recipient
      - content
      properties:
        sender:
          type: string
          description: Name or number displayed as the SMS sender. Must be between 3 and 11 characters for alphanumeric senders.
          minLength: 3
          maxLength: 11
        recipient:
          type: string
          description: Recipient phone number in international format with country code prefix.
        content:
          type: string
          description: Text content of the SMS message.
          maxLength: 160
        type:
          type: string
          description: Type of SMS message to send.
          enum:
          - transactional
          - marketing
          default: transactional
        tag:
          type: string
          description: Tag for categorizing the SMS for reporting purposes.
        webUrl:
          type: string
          format: uri
          description: Webhook URL to receive delivery status notifications.
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: api-key
      description: Brevo API key passed in the api-key request header for authentication.
externalDocs:
  description: Brevo Contacts Documentation
  url: https://developers.brevo.com/docs/how-it-works
